<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/public/css/image_post.css">
  <script>
    let logged_in = "{{ logged_in }}";
    let post_Id = "{{ post.id }}";
  </script>
  {{> bootstrap_css }}
  <title>Image Post</title>
</head>

<body id="image_page">
  {{> (which_navbar) }}
  <div class="card mx-auto text-center">
    <div class="card-body">
      <h5 class="card-title">Hello</h5>
    </div>
    <img class="img-center" src="{{ post.image }}">
  </div>
<div class="comment-form">
  <form action="/image_post/{{ post.id }}/comment" id="comment-form" method="post" onsubmit="check_if_authenticated(event)">
    <div>
      <textarea id="comment" name="comment" placeholder="Enter a comment...">
      </textarea>
    </div>
    <button type="submit" id="comment-submit" class="btn btn-primary" >Submit</button>
        {{!-- <input type="submit" class="submit" value="submit"> --}}
  </form>
</div>

<div>
  {{#each comments}}
    <p> {{ this.comment }} </p>
  {{/each}}
</div>

<div class="modal fade" id="auth-modal" tabindex="-1" aria-labelledby="auth-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auth-modal-label">You are not logged in!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>

      <div class="modal-body">
        Please login or register an account to submit your comment!
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#login-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Login</button>
        <button class="btn btn-secondary" data-bs-target="#register-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-title">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form id="login-form" action="/login" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label for="login-email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="login-email" aria-describedby="email">
          </div>
        </div>

        <div class="mb-3">
          <label for="login-password" class="form-label">Password</label>
          <input type="text" name="password" class="form-control" id="login-password" aria-describedby="password">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" onclick='inject_comment(event, "login")'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-title">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="register-form" action="/register" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label for="register-name" class="form-label">Name</label>
            <input type="text" name="username" class="form-control" id="register-name" aria-describedby="name">
          </div>

          <div class="mb-3">
            <label for="register-email" class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" id="register-email" aria-describedby="email">
          </div>

          <div class="mb-3">
            <label for="register-password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="register-password" aria-describedby="password">
          </div>

          <div class="mb-3">
            <label for="register-password-confirm" class="form-label">Confirm Password</label>
            <input type="password" name="password_confirmed" class="form-control" id="register-password-confirm" aria-describedby="password-confirm"
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" onclick='inject_comment(event, "register")'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
<script src="/public/js/image_post.js" ></script>
</body>

</html>